<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.form.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/calendar.config.js')"></script>
<script type="text/javascript">
jQuery(function () {
     jQuery("#form_do").submit(function(){
	 	var starttime = jQuery("input[name='announce.starttime']");
		var endtime = jQuery("input[name='announce.endtime']");
		var publishtime = jQuery("input[name='announce.publishtime']");
		if(jQuery.trim(starttime.val())==''){
			starttime.parent().find("span").remove().end().append("<span class='error'>起始日期不能为空</span>");
			starttime.focus();
			return false;			
		}else {
			starttime.parent().find("span").remove().end();
		}
		if(jQuery.trim(endtime.val())==''){
			endtime.parent().find("span").remove().end().append("<span class='error'>截止日期不能为空</span>");
			endtime.focus();
			return false;			
		}else {
			endtime.parent().find("span").remove().end();
		}
		if(jQuery.trim(publishtime.val())==''){
			publishtime.parent().find("span").remove().end().append("<span class='error'>发布日期不能为空</span>");
			publishtime.focus();
			return false;			
		}else {
			publishtime.parent().find("span").remove().end();
		}
	});
	
});


</script>
</head>
<body>
<div class="main">
    <div class="pos">发布公告</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="$link.setAction('publishAnnounce')">
		<dl>
			<dt> 公告标题：</dt>
			<dd>
				<span>$!publishAnnounceForm.announce.title</span>
			</dd>
		</dl>
		<dl>
            <dt> 起始日期：</dt>
            <dd>
                <input type="text" class="inp_one" name="announce.starttime" id="starttime" value="$!publishAnnounceForm.announce.starttime" readonly="readonly"/>
    			<span style="color: red;">*</span>
                <script type="text/javascript">
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "starttime",
                        trigger    : "starttime",
                        dateFormat: "%Y-%m-%d %H:%M:%S",
                        showTime: true,
                        minuteStep: 1,
                        onSelect   : function() {this.hide();}
                    });
                </script>
            </dd>
        </dl>
        <dl>
            <dt> 截止日期：</dt>
            <dd>
                <input type="text" class="inp_one" name="announce.endtime" id="endtime" value="$!publishAnnounceForm.announce.endtime" readonly="readonly"/>
                <span style="color: red;">*</span>
                <script type="text/javascript">
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "endtime",
                        trigger    : "endtime",
                        dateFormat: "%Y-%m-%d %H:%M:%S",
                        showTime: true,
                        minuteStep: 1,
                        onSelect   : function() {this.hide();}
                    });

                </script>
            </dd>
        </dl>
		<dl>
			<dt> 公告内容：</dt>
			<dd>
				<span>$!publishAnnounceForm.announce.content</span>
			</dd>
		</dl>		
		<dl>
            <dt> 发布时间：</dt>
            <dd>
                <input type="text" class="inp_one" name="announce.publishtime" id="publishtime" readonly="readonly" value="$!publishAnnounceForm.announce.publishtime" />
				#if($!publishAnnounceForm.announce.ispublish==1) <span style="color: red;">*</span> #end
                <script type="text/javascript">
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "publishtime",
                        trigger    : "publishtime",
                        dateFormat: "%Y-%m-%d %H:%M:%S",
                        showTime: true,
                        minuteStep: 1,
                        onSelect   : function() {this.hide();}
                    });
                </script>
            </dd>
        </dl>	
		<dl>
			<span class='error'>#errorMarkup()</span>
        </dl>
		<div class="form_b">		
			<input type="hidden" name="announce.id" value="$!publishAnnounceForm.announce.id" />
			<input type="submit" class="btn_blue" id="submit" value="提 交">
			<input type="button" class="btn_blue" id="back" value="返 回" onclick="javascript:history.back();" />
		</div>
	   </form>
	</div>
</div>


</body>
</html>