<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css1/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.form.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/calendar.config.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/ueditor/ueditor.config.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/ueditor/ueditor.all.min.js')"></script>
<script type="text/javascript">
	window.UEDITOR_HOME_URL = "ueditor/";
	window.onload = function() {
		UE.getEditor('content', {
    		toolbars: [
                ['fullscreen']
            ],
            initialFrameWidth : 800,
            initialFrameHeight: 400,
			readonly : true
        });
		
    }

</script>
</head>
<body>
<div class="main">
	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="$link.setAction('load4AnnounceIndex')">公告管理</a></li>
            <li><a href="#">查看公告</a></li>
        </ul>
    </div>
	<div class="formbody">
		<ul class="forminfo">
			#set($announce = $request.getAttribute("announce"))
			<li>
    			<label> 公告标题</label>
				<input type="text" class="dfinput" style="width:600px;background: #eee;" value="$!announce.title" readonly="readonly"/>
    		</li>
    		<li>
                <label> 起始日期</label>
                <input type="text" class="dfinput" style="width:300px;background: #eee;" name="announce.starttime" id="starttime" value="$!announce.starttime" readonly="readonly"/>
            </li>
            <li>
                <label> 截止日期：</label>
                <input type="text" class="dfinput" style="width:300px;background: #eee;" name="announce.endtime" id="endtime" value="$!announce.endtime" readonly="readonly"/>
            </li>
    		<li>
    			<label> 公告内容：</label>
				<label><textarea name="announce.content" id="content" readonly="readonly">$!announce.content</textarea></label>
    		</li>		
    		<li>
                <label> 发布时间：</label>
                <input type="text" class="dfinput" style="width:300px;background: #eee;" name="announce.publishtime" id="publishtime" readonly="readonly" value="$!announce.publishtime" />
            </li>	
			<li>
				<label>&nbsp;</label>
				<input type="button" class="btn" value="返 回" onclick="javascript:history.back();" />
			</li>
        </ul>
	</div>
</div>


</body>
</html>