#set($loginInfo = $session.getAttribute($MAIN_SESSION))
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link rel="shortcut icon" href="$link.setRelative('favicon.png')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/login.js')"></script>		
<link rel="stylesheet" href="$link.setRelative('/manage/css/login.css')" />
<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a-min.js" language="javascript" type="text/javascript"></script>
<script>
  DD_belatedPNG.fix('.nav ul li a,.top_link ul li,background');   /* string argument can be any CSS selector */
</script>
<![endif]-->
</head>
<body class="showmenu">
<div class="pagemask"></div>
<iframe class="iframemask"></iframe>
<div class="head">
<div class="top_logo"> <img src="$link.setRelative('/manage/images/main/logo.png')" /> </div>
	 <div class="top_link">
      <ul>
	    <li id="i_self">您好，$loginInfo.get("username")</li>
		<li id="i_hide_menu"><a href="#" id="togglemenu">隐藏菜单</a></li>
        <li id="i_home"><a href="$link.contextPath" target="_blank">首页</a></li> 
        <li id="i_exit"><a href="$link.setAction('logout')" target="_top">退出</a></li>		
      </ul>
    </div>
</div>
<!-- header end -->

<div class="left">
<div class="span"></div>
<div class="menu" id="menu">
<div>
	#set($menuList = $request.getAttribute("menuList"))
	#foreach($menu in $menuList)
		<li><a href="$link.setAction('showMessage').addQueryData('id',$!message.id)">$!message.title</a></li>
	<dl>
		<dt>$!munu.name</dt>
		<dd>
			<ul>
				#set($subMenuList = $menu.subMenuList)
				#foreach($subMenu in $subMenuList)
				<li><a href="$link.setAction($!subMenu.url)" target='right'>$!subMenu.name</a></li>
				#end
			</ul>
		</dd>	
    </dl>
	#end
</div>

</div>
</div>
<!-- left end -->

<div class="right">
	<div class="rightContent">
	<iframe id="right" name="right" frameborder="0" scrolling="yes" src="$link.setRelative('/manage/right.vm')" ></iframe>
	</div>    
</div>
<!-- right end -->

<div class="bottom">
	#parse("/home/include/bottom.vm")
</div>
<!-- bottom end -->

</body>
</html>