<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("/manage/include/webtitle.vm")
<link rel="shortcut icon" href="$link.setRelative('favicon.png')" />
<link type="text/css" rel="stylesheet" href="$link.setRelative('/manage/css1/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.cookie.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
##<script type="text/javascript" src="$link.setRelative('/manage/js1/cloud.js')"></script>

<style type="text/css">
.imagecode{
	width: 80px;
    border: 1px solid;
    height: 30px;
}
</style>
<script language="javascript">
    function change_code(obj){
    	jQuery("#code").attr("src",obj.src+'?'+Math.random());
    	return false;
    }

	jQuery(function(){
		jQuery("#username").focus();
		
        jQuery('.loginbox').css({'position':'absolute','left':(jQuery(window).width()-692)/2});
    	jQuery(window).resize(function(){  
        	jQuery('.loginbox').css({'position':'absolute','left':(jQuery(window).width()-692)/2});
    	});
		
		if (jQuery.cookie("rememberMe") == "1") {
            jQuery("#rememberMe").attr("checked", "checked");
            jQuery("#logintype").val(jQuery.cookie("logintype"));
            jQuery("#username").val(jQuery.cookie("username"));
        }
		
		jQuery("#form_do").submit(function(){
			var username = jQuery("input[name='username']");
			var password = jQuery("input[name='password']");
			var imagecode = jQuery("input[name='imagecode']");
			if(jQuery.trim(username.val())==''){
    			username.parent().find("span").remove().end().append("<span style='color: red;'>用户名不能为空</span>");
    			username.focus();
    			return false;			
    		}else {
    			username.parent().find("span").remove().end();
    		}
    		if(jQuery.trim(password.val())==''){
    			password.parent().find("span").remove().end().append("<span style='color: red;'>登录密码不能为空</span>");
    			password.focus();
    			return false;			
    		}else {
    			password.parent().find("span").remove().end();
    		}
			if(jQuery.trim(imagecode.val())==''){
    			imagecode.parent().find("span").remove().end().append("<span style='color: red;'>验证码不能为空</span>");
    			imagecode.focus();
    			return false;			
    		}else {
    			imagecode.parent().find("span").remove().end();
    		}
		
    		if (jQuery("#rememberMe").is(":checked") == true) {
                var username = jQuery("#username").val();
                var logintype = jQuery("#logintype").val();
                jQuery.cookie("rememberMe", "1", { expires: 7 }); // 存储一个带7天期限的 cookie
                jQuery.cookie("username", username, { expires: 7 }); // 存储一个带7天期限的 cookie
                jQuery.cookie("logintype", logintype, { expires: 7 }); // 存储一个带7天期限的 cookie
            }
            else {
                jQuery.cookie("rememberMe", "0", { expires: -1 });
                jQuery.cookie("username", '', { expires: -1 });
                jQuery.cookie("logintype", '', { expires: -1 });
            }
		});  
		
	});  
</script> 

</head>

<body style="background-color:#1c77ac; background-image:url(images1/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>  


	<div class="logintop">    
        <span>欢迎登录参赛管理系统</span>    
        ##<ul>
        ##    <li><a href="#">最新通知</a></li>
        ##    <li><a href="#">最新公告</a></li>
        ##</ul>    
    </div>
	
    <div class="loginbody">
    
    <span class="systemlogo"></span> 
       
    <div class="loginbox">
    <form action="$link.setAction('login.do')" method="post" name="form_do" id="form_do">
    <ul>
    <li><input id="username" name="username" type="text" class="loginuser" value="admin"/></li>
    <li><input name="password" type="password" class="loginpwd" value="1"/></li>
    <li>
		<input name="imagecode" type="text" class="loginimgcode"/>
		<img src="$link.setAction('imageCode.do')" align="absmiddle" id="code" onclick="change_code(this);"/>
	</li>
	<li>
		<label style="padding-left:0px;font-size: 14px;">登录用户类型：</label>
		<select id="logintype" name="logintype" class="dfinput" style="width:100px;">
			<option value="1" selected="selected">参赛会员</option>
			<option value="2">管理员</option>
		</select>
    </li>
	<li>
		<label style="padding-left:0px;font-size: 14px;"><input type="checkbox" id="rememberMe" />记住用户名</label>
    </li>
    <li style="clear:both">
		<input type="submit" class="loginbtn" value="登录"/>
		<input type="button" class="loginbtn" onclick="goUrl('$link.setAction('load4MemberReg')')" value="注册会员" style="margin-left: 50px;"/>
	</li>
    <li><span class="errorcolor">#errorMarkup()</span></li>
    </ul>
    </form>
    
    </div>
    
    </div>
    
    
    
    <div class="loginbm">Copyright © 2009 - 2016 XXX. All Rights Reserved</div>
</body>
</html>
