<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.form.min.js')"></script>
<style type="text/css">
.h3{padding:5px; background:#C5E3FA; font-size:14px; font-weight:bold;}
.wzzw{padding:10px; line-height:21px;}
.lh{font-size:14px; line-height:28px;}
</style>
<script type="text/javascript">
</script>
</head>
<body>
<div class="main">
    <div class="pos">审核参赛报名信息</div>
	<div class="form">
		<div class="h3">
			<span>参赛报名信息</span>
		</div>
		<dl>
    		<dt>参赛年度：</dt>
    		<dd>$!matchapply.annualmatch</dd>
    	</dl>
    	<dl>
    		<dt> 参赛项目：</dt>
    		<dd>$!matchapply.matchname</dd>
    	</dl>	
    	<dl>
    		<dt>作品名称：</dt>
    		<dd>$!matchapply.name</dd>
    	</dl>
    	<dl>
    		<dt>学校名称：</dt>
    		<dd>$!matchapply.unitname</dd>
    	</dl>
    	<dl>
    		<dt>作者姓名：</dt>
    		<dd>$!matchapply.authors</dd>
    	</dl>
    	<dl>
    		<dt>辅导老师：</dt>
    		<dd>$!matchapply.teachers</dd>
    	</dl>
		<dl>
    		<dt>报名状态：</dt>
    		<dd>
				#if($!matchapply.state==0)
					<span style='color: #0000FF;'>未提交</span> 
				#elseif($!matchapply.state==1)
					<span style='color: #8A2BE2;'>已提交</span>
				#elseif($!matchapply.state==2)
					<span style='color: #00FF00;'>审核通过</span>
				#elseif($!matchapply.state==3)
					<span style='color: #FF0000;'>审核未通过</span>
				#end
			</dd>
    	</dl>
    	<dl>
    		<dt>作品简述：</dt>
    		<dd>
    			<div class="wzzw lh" id="content">
        			$!matchapply.description
        		</div>
    		</dd>
    	</dl>
		<div>		
			<input type="button" onclick="goUrl('$link.setAction('auditMatchapply').addQueryData('id',$!matchapply.id).addQueryData('state','2')')"  class="btn_blue" value="审核通过" />
			<input type="button" onclick="goUrl('$link.setAction('auditMatchapply').addQueryData('id',$!matchapply.id).addQueryData('state','3')')"  class="btn_blue" value="审核不通过" />
			<input type="button" class="btn_blue" id="back" value="返 回" onclick="javascript:history.back();" />
		</div>
	</div>
</div>


</body>
</html>