<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript">
	function exportFiles(msg){
		var url = '$link.setAction('exportMatchapplyFiles')';
		var annualmatch = document.getElementById('annualmatch');
		var factname = document.getElementById('factname');
		if(annualmatch.value==""){
			alert('请输入参赛年度！');
			return;
		}
		if(factname.value==""){
			alert('请输入单位名称！');
			return;
		}
		var obj = document.getElementsByName('key[]');
		var ids = getCheckValues();
		if (!ids){
	        alert('请选择项！');
	        return false;
	    }
	    if (window.confirm(msg)){
	    	url = url+"?annualmatch="+annualmatch+"&factname="+factname+"&ids="+ids;
			window.open(url);
	    }
	}
</script>
</head>
<body>
<div class="main">
    <div class="pos">
    	<a href="$link.setAction('load4MatchapplyIndex')">参赛报名审核</a>
    </div>
    <div class="operate">
		<div class="left_pad">
            <form method="get" action="$link.setAction('load4MatchapplyIndex')">
				<span style='font-size: 14px;vertical-align: middle;'>参赛年度(YYYY)：</span>
				<input type="text" id="annualmatch" name="matchapply.annualmatch" class="inp_small" value="$!queryMatchapplyForm.matchapply.annualmatch">
				<span style='font-size: 14px;vertical-align: middle;'>单位名称：</span>
				<input type="text" id="factname" name="matchapply.factname" class="inp_small" value="$!queryMatchapplyForm.matchapply.factname">
				<span style='font-size: 14px;vertical-align: middle;'>参赛项目：</span>
				<select name="matchapply.matchid">
					<option value="">--请选择--</option>
					#set($matchinfoList = $request.getAttribute("matchinfoList"))
					#foreach($matchinfo in $matchinfoList)
						#if($!matchinfo.id==$!queryMatchapplyForm.matchapply.matchid)
							<option value="$!matchinfo.id" selected="selected">$!matchinfo.name</option>
						#else
							<option value="$!matchinfo.id">$!matchinfo.name</option>
						#end
					#end
				</select>
            	<span style='font-size: 14px;vertical-align: middle;'>作品名称：</span>
                <input type="text" name="matchapply.name" title="关键字" class="inp_small" value="$!queryMatchapplyForm.matchapply.name">
				<span style='font-size: 14px;vertical-align: middle;'>审核状态：</span>
				<select name="matchapply.state">
					<option value="" #if($!queryMatchapplyForm.matchapply.state==0) selected="selected" #end>--请选择--</option>
					<option value="1" #if($!queryMatchapplyForm.matchapply.state==1) selected="selected" #end>未审核</option>
					<option value="2" #if($!queryMatchapplyForm.matchapply.state==2) selected="selected" #end>审核通过</option>
					<option value="3" #if($!queryMatchapplyForm.matchapply.state==3) selected="selected" #end>审核未通过</option>
				</select>
					<input type="submit" class="btn_blue" value="查  询">
				<div>
					<input type="button" onclick="exportFiles('确实要导出附件吗？')" class="btn_blue" value="导出附件">
                </div>
            </form>
        </div>
    </div>
    <div class="list">    
        <table width="100%">
            <tr>
                <th><input type="checkbox" id="check"></th>
				<th>编号</th>
				<th class='aleft'>单位名称</th>
				<th class="aleft">作品名称</th>
				<th class="aleft">学校</th>
				<th class="aleft">作者</th>
				<th>审核状态</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
			#set($matchapplyList = $request.getAttribute("matchapplyList"))
			#foreach($matchapply in $matchapplyList)
			<tr>
				<td><input type='checkbox' name='key[]' value='$!matchapply.id'></td>
				<td>$!matchapply.id</td>
				<td class='aleft'>$!matchapply.factname</td>
				<td class='aleft'>$!matchapply.name</td>
				<td class='aleft'>$!matchapply.unitname</td>
				<td class='aleft'>$!matchapply.authors</td>
				<td>
    				#if($!matchapply.state==1)
    					<span style='color: #8A2BE2;'>未审核</span>
    				#elseif($!matchapply.state==2)
    					<span style='color: #00FF00;'>审核通过</span>
    				#elseif($!matchapply.state==3)
    					<span style='color: #FF0000;'>审核未通过</span>
    				#end
				</td>
				<td>$!matchapply.updatetime</td>
				<td>
					<a href="$link.setAction('load4Matchapply').addQueryData('id',$!matchapply.id)">查看</a>
					#if($matchapply.state==1)
					<a href="$link.setAction('load4MatchapplyAudit').addQueryData('id',$!matchapply.id)">审核</a>
					#end
                </td>
            </tr>
			#end
        </table>
        <div class="page" style="clear: both;">
			#parse("/home/include/page.vm")
        </div>
    </div>
</div>
</body>
</html>
