<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
</head>
<body>
<div class="main">
    <div class="pos">
    	<a href="$link.setAction('load4MatchinfoIndex')">参赛项目管理</a>
    </div>
    <div class="operate">
        <div class="left">
		#set($istrash = $request.getAttribute("istrash"))
		#if($istrash=="1")
			<input type="button" onclick="goUrl('$link.setAction('load4MatchinfoIndex')')"  class="btn_blue" value="返回" />
		#else
			<input type="button" onclick="goUrl('$link.setAction('load4MatchinfoAdd')')" class="btn_blue" value="添加参赛项目" />
            <input type="button" onclick="goUrl('$link.setAction('load4MatchinfoIndex').addQueryData('istrash','1')')" class="btn_green" value="回收站" />
		#end
        </div>
		#if($istrash=="1")
			&nbsp;
		#else
		<div class="left_pad">
            <form method="get" action="$link.setAction('load4MatchinfoIndex')">
            	<span style='font-size: 14px;vertical-align: middle;'>参赛项目名称：</span>
                <input type="text" name="matchinfo.name" title="关键字" class="inp_default" value="$!queryMatchinfoForm.matchinfo.name">
                <input type="submit" class="btn_blue" value="查  询">
            </form>
        </div>
		#end
    </div>
    <div class="list">    
        <table width="100%">
            <tr>
                <th>编号</th>
				<th class="aleft">参赛年度</th>
				<th class="aleft">参赛项目名称</th>
				<th class="aleft" width="40%">参赛项目简述</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
			#set($matchinfoList = $request.getAttribute("matchinfoList"))
			#foreach($matchinfo in $matchinfoList)
			<tr>
				<td>$!matchinfo.id</td>
				<td>$!matchinfo.annualmatch</td>
				<td class='aleft'>$!matchinfo.name</td>
				<td class='aleft'>$!matchinfo.description</td>
				<td>$!matchinfo.updatetime</td>
				<td>
					<a href="$link.setAction('load4Matchinfo').addQueryData('id',$!matchinfo.id)">查看</a>
				#if($istrash=="1")
					<a href="javascript:;" onclick="toConfirm('$link.setAction('restoreMatchinfo').addQueryData('id',$!matchinfo.id)','确实要还原吗？')">还原</a>
					<a href="javascript:;" onclick="toConfirm('$link.setAction('removeMatchinfo').addQueryData('id',$!matchinfo.id)','该操作不可恢复，确实要删除吗？')">彻底删除</a>
				#else
					<a href="$link.setAction('load4MatchinfoModify').addQueryData('id',$!matchinfo.id)">编辑</a>
					<a href="javascript:;" onclick="toConfirm('$link.setAction('trashMatchinfo').addQueryData('id',$!matchinfo.id)','确实要删除吗？')">删除</a>
				#end
                </td>
            </tr>
			#end
        </table>
        <div class="page" style="clear: both;">
			#parse("/home/include/page.vm")
        </div>
    </div>
</div>
</body>
</html>
