<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.form.min.js')"></script>
<style type="text/css">
.h3{padding:5px; background:#C5E3FA; font-size:14px; font-weight:bold;}
.biaoti{font-size:2.2em; font-family: Microsoft YaHei;font-weight:500; color:#000; line-height:1.5; text-align:center;margin-bottom: 10px;}
.biaoti_sub{font-size: 9pt;color:#888;text-align:center;margin-bottom:10px;}
.wzzw{padding:10px; line-height:21px;}
.lh{font-size:14px; line-height:28px;}
</style>
<script type="text/javascript">
</script>
</head>
<body>
<div class="main">
    <div class="pos">查看参赛项目</div>
	<div class="form">
		<div class="biaoti" align="center">$!matchinfo.name</div>
		<div class="biaoti_sub">
			<span>参赛年度:$!matchinfo.annualmatch</span>
			<span>报名日期:$!matchinfo.begindate至$!matchinfo.enddate</span>
		</div>
		<div class="biaoti_sub">
			<span>参赛类型:$!matchinfo.matchtypename</span>
			<span>主办单位:$!matchinfo.optunitname</span>
		</div>
		<div class="h3">
			<span>参赛简述</span>
		</div>
		<div class="wzzw lh" id="content">
			$!matchinfo.description
		</div>
		<div class="h3">
			<span>参赛详细说明</span>
		</div>
		<div class="wzzw lh" id="content">
			$!matchinfo.content
		</div>
		<div>		
			<input type="button" class="btn_blue" id="back" value="返 回" onclick="javascript:history.back();" />
		</div>
	</div>
</div>


</body>
</html>