<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.form.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/calendar.config.js')"></script>
<style type="text/css">
.h3{padding:5px; background:#C5E3FA; font-size:14px; font-weight:bold;}
.personInfo{padding:5px; font-size:14px;}
.personInfo li{line-height:30px;}

</style>
<script type="text/javascript">

</script>
</head>
<body>
<div class="main">
    <div class="pos">查看会员</div>
	<div class="form" style="width: 500px;">
		<div class="h3">
			<span>基本资料</span>
		</div>
		#set($member = $request.getAttribute("member"))
		<ul class="personInfo">
			<li>用户名：$!member.accountid</li>
			<li>会员名称：$!member.factname</li>
			<li>性别：#if($!member.sex==1)男#else女#end</li>
			<li>身份证号：$!member.idcard</li>
			<li>出生日期：$!member.birthday</li>
   		</ul>
   		<div class="h3">
			<span>联系方式</span>
		</div>
		<ul class="personInfo">
			<li>邮箱：$!member.email</li>
			<li>QQ：$!member.qq</li>
			<li>电话：$!member.tel</li>
			<li>所在地：$!member.address</li>
		</ul>
		<div>		
			##<input type="button" class="btn_blue" id="back" value="返 回" onclick="javascript:history.back();" />
		</div>
	</div>
</div>


</body>
</html>