#set($loginInfo = $session.getAttribute($MANAGE_SESSION))
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/main.css')" />
<link rel="stylesheet" type="text/css" href="$link.setRelative('manage//bootstrap/3.3.5/css/bootstrap.min.css')">
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>

</head>
<body>
<style type="text/css">
	html{_overflow-y:scroll}
</style>
<div class="xyh-content">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-info">
				<!-- Default panel contents -->		
				<div class="panel-heading"><em class="glyphicon glyphicon-star"></em> 我的个人信息</div>
				<div class="panel-body">
					<p>
						您好，$!loginInfo.get("factname")<br/>		
						上次登录时间：$!loginInfo.get("logintime")<br/>		
					</p>
				</div>
			</div>
			
        </div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<!-- Default panel contents -->		
				<div class="panel-heading">关于作者</div>
				<div class="panel-body">
					<p>
						作者：XXX<br />邮箱：xxxxxx@qq.com<br />QQ：100000000 <br />
					</p>
				</div>
			</div>
        </div>
    </div>
</div>

</div>
</body>
</html>