<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.form.min.js')"></script>
<script type="text/javascript">
jQuery(function () {
     jQuery("input[name='role.name']").focus();
	 
     jQuery("#form_do").submit(function(){
		var name = jQuery("input[name='role.name']");
		var email = jQuery("input[name='role.email']");
		if(jQuery.trim(name.val())==''){
			name.parent().find("span").remove().end().append("<span class='error'>岗位名称不能为空</span>");
			name.focus();
			return false;			
		}else {
			name.parent().find("span").remove().end();
		}

	});
	
});


</script>
</head>
<body>
<div class="main">
    <div class="pos">修改会员</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="$link.setAction('modifyRole')">
		<dl>
			<dt>岗位名称：</dt>
			<dd>
				<input type="text" name="role.name" class="inp_large" value="$!modifyRoleForm.role.name"/>
				<span style="color: red;">*</span>
			</dd>
		</dl>
		<dl>
			<dt>岗位描述：</dt>
			<dd>
				<textarea name="role.description" class="tarea_default">$!modifyRoleForm.role.description</textarea>
			</dd>
		</dl>
		<dl>
			<span class='error'>#errorMarkup()</span>
        </dl>
		<div class="form_b">		
			<input type="hidden" name="role.id" value="$!modifyRoleForm.role.id" />
			<input type="submit" class="btn_blue" id="submit" value="提 交">
			<input type="button" class="btn_blue" id="back" value="返 回" onclick="javascript:history.back();" />
		</div>
	   </form>
	</div>
</div>


</body>
</html>