<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="$link.setRelative('/manage/css/style.css')" />
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery-1.7.2.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/common.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/jquery.form.min.js')"></script>
<script type="text/javascript" src="$link.setRelative('/manage/js/calendar.config.js')"></script>
<script type="text/javascript">
jQuery(function () {
     jQuery("input[name='user.password_old']").focus();
	 
     jQuery("#form_do").submit(function(){
		var password_old = jQuery("input[name='user.password_old']");
		var password = jQuery("input[name='user.password']");
		var password_re = jQuery("input[name='user.password_re']");
		if(jQuery.trim(password_old.val())==''){
			password_old.parent().find("span").remove().end().append("<span class='error'>当前密码不能为空</span>");
			password_old.focus();
			return false;			
		}else {
			password_old.parent().find("span").remove().end();
		}
		if(jQuery.trim(password.val())==''){
			password.parent().find("span").remove().end().append("<span class='error'>新密码不能为空</span>");
			password.focus();
			return false;			
		}else {
			password.parent().find("span").remove().end();
		}
		if(jQuery.trim(password_re.val())==''){
			password_re.parent().find("span").remove().end().append("<span class='error'>确认密码不能为空</span>");
			password_re.focus();
			return false;			
		}else {
			password_re.parent().find("span").remove().end();
		}
		if(password.val()!=password_re.val()){
			password_re.parent().find("span").remove().end().append("<span class='error'>两次输入的密码不一致</span>");
			password_re.focus();
			return false;			
		}else {
			password_re.parent().find("span").remove().end();
		}

	});
	
});


</script>
</head>
<body>
<div class="main">
    <div class="pos">修改用户密码</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="$link.setAction('modifyUserPwd')">
		<dl>
			<dt>当前密码：</dt>
			<dd>
				<input type="password" name="user.password_old" class="inp_one" />
				<span style="color: red;">*</span>
			</dd>
		</dl>
		<dl>
			<dt>新密码：</dt>
			<dd>
				<input type="password" name="user.password" class="inp_one" value=""/>
				<span style="color: red;">*</span>
			</dd>
		</dl>
		<dl>
			<dt>确认新密码：</dt>
			<dd>
				<input type="password" name="user.password_re" class="inp_one" value=""/>
				<span style="color: red;">*</span>
			</dd>
		</dl>
		<dl>
			<span class='error'>#errorMarkup()</span>
        </dl>
		<div class="form_b">		
			<input type="hidden" name="user.id" value="$!modifyUserPwdForm.user.id" />
			<input type="hidden" name="user.isself" value="$!modifyUserPwdForm.user.isself" />
			<input type="submit" class="btn_blue" id="submit" value="提 交">
			#if($!modifyUserPwdForm.user.isself==0)
			<input type="button" class="btn_blue" id="back" value="返 回" onclick="javascript:history.back();" />
			#end
		</div>
	   </form>
	</div>
</div>


</body>
</html>